<div class="container">
	<div class="block block-inverse text-center">
	  <div class="container text-center" data-transition="entrance">
	    <blockquote class="pull-quote">
	      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkrAAAAJDc1YjlhYWRkLTBkMTgtNGEwYS04ODZhLTg4ZmFlNTlmZjgzMw.jpg" class="img-circle" alt="">
	      <cite>Cairo Stewart</cite>
	      <ul class="list-inline">
	      	<li>
	      		<h3>
	      			<a href="http://www.instagram.com/cairomasaki">
	      				<span class="icon icon-instagram"></span>
	      			</a>
	      		</h3>
	      	</li>
	      	<li>
	      		<h3>
	      			<a href="http://www.facebook.com/cairo.stewart">
	      				<span class="icon icon-facebook"></span>
	      			</a>
	      		</h3>
	      	</li>
	      	<li>
	      		<h3>
	      			<a href="http://www.linkedin.com/in/cairos">
	      				<span class="icon icon-linkedin"></span>
	      			</a>
	      		</h3>
	      	</li>
	      </ul>
	      <p>
	        Diligent, meticulous full-stack developer with an interest for writing clean, maintainable code. Background with processing and formatting data. Experience developing software and websites utilizing Postgres Angularjs Node and Expressjs. Well-versed with industry standard technologies.
	      </p>
	    </blockquote>
	  </div>
	</div>

	<div class="block">
		
	</div>
</div>