	<div class="block app-block-intro">
	  <div class="container text-center">
	    <h1 class="block-title m-b-sm app-myphone-brand">Software Developer</h1>
	    <p class="lead m-b-lg p-b-md">a love of code and coffee</p>
	    <img src="img/gallery/image00.jpg">
	  </div>
	</div>

	<div class="block block-bordered-lg middle-block">
	  <div class="container" data-transition="entrance">
	  	<h1 class="text-center p-b-lg">About Me</h1>
		  <div class="row">
		  	<div class="col-md-6">
		  		<img class="text-wrap" src="img/gallery/image01.jpg" alt="">
		  	</div>
			<div class="col-md-6">
			  		<p>
			      	I have been described as a very “chill person”. I have done my best work in environments where every team member is just as excited to accomplish and complete the task at hand. I am a big believer in appreciating the little things so I would like to work where my team and I can mutually benefit from one another - this would consist a jovial, casual atmosphere that primarily gets the work done. Push the code, run the tests, complete the tasks, drink some more coffee and repeat.
			      </p>
			      <p>
			        The software technologies I am passionate in have coincided with the work that I have done in the past. As a staff affiliate at Yale I was given the task of gathering and categorizing financial and descriptive data on apps relating to autism; I picked Python for the data gathering and processing because it is a powerful language that can be utilized for both of those tasks and also because it was one of the initial software technologies; for the categorization I used PostgreSQL’s full text search data types (e.g. tsvector, tsquery).
			      </p>
			      <p>
			        More recently I have been focusing on learning the newest/sturdiest frameworks. Being Versatile is something that as a Full Stack Developer is very important. I tend to gravitate towards the backend, /Node/Express/Postgres/Heroku/GoogleAnalytics/ all the way :)
			      </p>
			  </div>
		    </div>
	  </div>
	</div>

	<div class="block block-bordered-lg p-b-0 app-block-stats">
	  <div class="container">
	      <div class="col-md-12 text-center">
	        <img
	          src="img/gallery/image05.jpg"
	          class="thinner"
	          data-transition="entrance">
	      </div>
	      <div class="col-md-12 text-center">
	        <p class="lead">
	          Languages used in a Development and Professional-Environment:
	        </p>
	        <div class="row">
	          <div class="col-xs-6">
	            <div class="statcard">
	              <h1 class="statcard-number block-title">40%</h1>
	              <span class="statcard-desc">Python</span>
	            </div>
	          </div>
	          <div class="col-xs-6">
	            <div class="statcard">
	              <h1 class="statcard-number block-title">20%</h1>
	              <span class="statcard-desc">SQL</span>
	            </div>
	          </div>
	        </div>
	        <div class="row hidden-sm">
	          <div class="col-xs-6 m-b-lg">
	            <div class="statcard">
	              <h1 class="statcard-number block-title">30%</h1>
	              <span class="statcard-desc">Javascipt</span>
	            </div>
	          </div>
	          <div class="col-xs-6 m-b-lg">
	            <div class="statcard">
	              <h1 class="statcard-number block-title">10%</h1>
	              <span class="statcard-desc">C#</span>
	            </div>
	          </div>
	        </div>
	      </div>
	  </div>
	</div>